<script src="{{libraryPath}}"></script>
<script>
    require.config({
        paths: {
        {{#modules}}
            "{{{name}}}": "{{{path}}}",
        {{/modules}}
        }
    });
    require([{{{moduleNames}}}]);
</script>
